{% extends 'base.html.twig' %}

{% block title %}Cliente{% endblock %}

{% block body %}

<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Nome</th>
            <th scope="col">Endereço</th>
            <th scope="col">Bairro</th>
            <th scope="col">Cidade</th>
            <th scope="col">Estado</th>
            <th scope="col">CEP</th>
            <th scope="col">Telefone</th>
            <th scope="col">Email</th>
            <th scope="col">CPF</th>
            <th scope="col">Ações</th>
        </tr>
    </thead>
    <tbody>
        {% for cliente in clientes %}
        <tr>
            <td>{{ cliente.id }}</td>
            <td>{{ cliente.nome }}</td>
            <td>{{ cliente.endereco }}</td>
            <td>{{ cliente.bairro }}</td>
            <td>{{ cliente.cidade }}</td>
            <td>{{ cliente.estado }}</td>
            <td>{{ cliente.cep }}</td>
            <td>{{ cliente.telefone }}</td>
            <td>{{ cliente.email }}</td>
            <td>{{ cliente.cpf }}</td>
            <td>
                <a href="{{ path('cliente_show', {'id': cliente.id}) }}">mostrar</a>
                <a href="{{ path('cliente_edit', {'id': cliente.id}) }}">editar</a>
            </td>
        </tr>
        {% else %}
        <tr>
            <td colspan="11">sem registros encontrados</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<a href="{{ path('cliente_new') }}">Adicionar novo cliente</a>
{% endblock %}