{% extends 'base.html.twig' %}

{% block title %}Cadastro de Produtos{% endblock %}

{% block body %}

    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Código</th>
                <th scope="col">Nome</th>
                <th scope="col">Preço</th>
                <th scope="col">Ações</th>
            </tr>
        </thead>
        <tbody>
        {% for produto in produtos %}
            <tr>
                <td>{{ produto.id }}</td>
                <td>{{ produto.codigo }}</td>
                <td>{{ produto.nome }}</td>
                <td>{{ produto.preco }}</td>
                <td>
                    <a href="{{ path('produto_show', {'id': produto.id}) }}">mostrar</a>
                    <a href="{{ path('produto_edit', {'id': produto.id}) }}">editar</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">sem registros encontrados</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('produto_new') }}">Adicionar novo produto</a>
{% endblock %}
